.space {
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    position: fixed;
}

.cont {
    width: 58%;
    display: flex;
    justify-content: space-between;
    padding: 100px 20% 0% 20%;
}

.cont .right {
    width: 80%;
    background-color: #f5f5f5;
    margin-left: 27.8%;
}

.cont .left {
    width: 13.5%;
    padding: 1%;
    margin-right: 2px;
    margin-left: 0.5%;
    padding-top: 1.5%;
    position: fixed;
    height: 100%;
    background-color: white;
}

.contgroup {
    float: left;
    width: 30%;
    height: 190px;
    margin: 1.5%;
    border: 1px solid #ececec;
    border-radius: 10px;
    background-color: white;
}

.groupimg {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}

.namegr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.namegr h3 {
    font-size: 18px;
}

.namegr p {
    color: #A5A5A5;
    font-size: 12px;
}

.contjoin {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    text-decoration: none;
    color: #ef9d87;
    font-size: 15px;
}

.butfoll {
    height: 25px;
    width: 90px;
    color: #ef9d87;
    background-color: white;
    border: 1px solid #ef9d87;
    cursor: pointer;
    border-radius: 5px;
}

.butfoll:hover {
    box-shadow: 0 0 30px #ef9d87;
    background-color: #ef9d87;
    color: white;
}

.butfoll:focus {
    background-color: #ef9d87;
    color: white;
    border: 1px solid #ef9d87;
}

li {
    list-style: none;
    margin-top: 2%;
    margin-left: 15%;
}

.icongr {
    color: #918c8c;
}

.dis {
    text-decoration: none;
    color: black;
    margin-left: 5%;
}

.grcont h2 {
    margin-bottom: 5%;
    font-size: 20px;
    color: #ef9d87;
    margin-left: 10%;
}

.contline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    content: "";
    color: #f5f5f5;
    border-bottom: 2px solid;
    margin: 10px 0px;
    width: 100%;
    display: flex;
}

.contugr {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.imgugr {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contugr h3 {
    font-size: 18px;
    margin-left: 10px;
}

article {
    background: white;
    width: 100%;
    margin: 0px 0px 50px;
    outline: none;
}

article .image .imagePub {
    width: 100%;
}

article .profilUser {
    width: 100%;
}

article .profilUser .imageprofil {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

article .profilUser .imageprofil .imgUser {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

article .profilUser .nameUser {
    text-decoration: none;
    color: black;
    font-family: oswald;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postHeader .nameLocation {
    text-decoration: none;
    color: #ef9d87;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0px 0px 20px;
}

article .postEntry {
    margin: 0px 0px 10px;
    padding: 0px 30px;
    font-size: 16px;
    font-family: sans-serif;
}

article .postEntry .description {
    margin: 0px 0px 20px;
    font-size: 16px;
    font-family: serif;
}

article .postEntry .readm {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article .postEntry .readmore {
    color: #ef9d87;
    padding: 16px 25px 16px;
    margin: 12px 0px 0px;
    font-size: 11px;
    font-family: sans-serif;
    border: 1px solid #e9e9e9;
    letter-spacing: 1px;
}

.readmore:hover {
    background: #e9e9e9;
}

.postMeta {
    padding: 0px 30px 30px;
    height: 28px;
}

.postMeta .metaInfo {
    color: #A5A5A5;
    margin: 6px 8px 0px 0px;
    font-family: serif;
    font-size: 14px;
    font-style: italic;
}

.like {
    margin-right: 5px;
    font-size: 13px;
}

.postMeta .metaInfor {
    color: #A5A5A5;
    margin: 6px 8px 0px 0px;
    font-family: serif;
    font-size: 14px;
    font-style: italic;
    float: right;
}

.postMeta .metaShare {
    float: right;
    display: flex;
}

.postMeta .metaop {
    float: left;
    display: flex;
}

.a-share {
    width: 22px;
    height: 22px;
    background: white;
    border: 1px solid #ececec;
    border-radius: 50px;
    text-decoration: none;
    margin: 0px 0px 0px 3px;
}

.a-share .sharefacebook {
    width: 7px;
    padding: 3.5px 0px 0px 7px;
    color: #ef9d87;
}

.a-share .sharetwitter {
    width: 12px;
    padding: 3.5px 0px 0px 5px;
    color: #ef9d87;
}

.widget-heading {
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #161616;
    margin: 0px 0px 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

.-heading span {
    position: relative;
    display: inline-block;
}

.widget-heading>span:before {
    right: 100%;
}

.widget-heading>span:after {
    left: 100%;
}

.widget-heading>span:before,
.widget-heading>span:after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    width: 500px;
    margin: 0 14px;
}

.sponUser {
    width: 100%;
    margin: 0px 0px 40px;
}

.imgSpon {
    width: 100%;
    margin: 0px 0px 8px;
}

.socialwidg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.so {
    width: 28px;
    height: 28px;
    background: #ef9d87;
    border-radius: 50%;
    margin: 0px 4px 4px;
}

.so .soI {
    color: white;
    width: 7px;
    padding: 5px 0px 0px 10px;
}

.so .soT {
    color: white;
    width: 13px;
    padding: 5.5px 0px 0px 7.5px;
}

.size {
    font-size: 16px;
}